.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingText {
  margin-top: 10px;
  color: #902795;
  font-size: 18px;
  text-align: center;
}
